.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  &__wrapper {
    background-color: $main-bg-color;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 0 10px 0 20px;
    height: 40px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
  }
  &__close {
    cursor: pointer;
  }
  &__body{
    padding: 20px;
  }
}
