.table {
  width: 100%;
  &__header {
    background-color: $active;
    position: sticky;
    th {
      padding: 5px;
    }
  }
  td {
    border-bottom: 1px solid $active;
    padding: 5px;
  }
  &__checkbox {
    width: 40px;
    display: flex;
    justify-content: center;
  }
  .center {
    text-align: center;
  }
  .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
  }
  .btn-action {
    cursor: pointer;
    color: $primary;
    margin: 0 7px;
    &.red {
      color: $danger;
    }
  }

  td {
    font-size: 14px;
  }
}
